* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif; }

img {
  width: 100%;
  height: auto; }

.container {
  min-width: 1440px;
  min-height: 900px;
  background-color: #f2ebe3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container__card {
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    position: relative; }
  .container .image {
    display: block;
    position: absolute;
    width: 300px;
    height: 450px; }
    .container .image img {
      width: 100%;
      height: auto;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px; }
  .container .container-text {
    margin-left: 300px;
    width: 300px;
    height: 450px;
    padding: 30px; }
    .container .container-text .text p {
      font-size: 13px;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.3rem;
      color: #6c7289; }
    .container .container-text .title {
      margin-top: 19px;
      font-size: 22px;
      line-height: 34px;
      font-weight: 700;
      font-family: 'Fraunces', serif; }
    .container .container-text .paragraph {
      margin-top: 21.5px;
      line-height: 22.1px; }
    .container .container-text .prices {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .container-text .prices .item-price-1 {
        font-family: 'Fraunces', serif;
        font-size: 30px;
        color: #3c8067; }
      .container .container-text .prices .item-price-2 {
        margin-left: 20px;
        text-decoration: line-through; }
    .container .container-text .btn {
      margin-top: 26px;
      background-color: #3c8067;
      width: 230px;
      height: 48px;
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .container-text .btn .cart-icon {
        margin-right: 100px;
        position: absolute; }
        .container .container-text .btn .cart-icon img {
          margin-top: 2px;
          width: 15px;
          height: 15px; }
      .container .container-text .btn .text-cart {
        padding-left: 10px;
        font-weight: 500;
        color: white; }
    
